body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}
p {
    font-weight: 400;
    size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color:#434455;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 2%;
    color: #2E2F42;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
    color: #2E2F42;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.logo-header {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 3%;
    color: #2E2F42;
    text-decoration: none;
    text-transform: uppercase;
}
.logo-top {
    color: #4D5AE5;
}
.main-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}
.nav-link{
    color: #2E2F42;
    text-decoration: none;
}
.nav-link:hover {
    color: #404BBF;
}
.nav-link:focus {
    color: #404BBF;
}
.adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}
.adress-link {
    color: #2E2F42;
    text-decoration: none;
}
.adress-link:hover {
    color: #404BBF;
}

.adress-link:focus {
    color: #404BBF;
}
.main-hero {
    background-color: #2E2F42;
}
.main-hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
    letter-spacing: 2%;
    color: #ffffff;
    text-align: center;
}
.main-hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
}
.main-hero-button:hover {
    background-color: #404BBF;
}
.main-hero-button:focus {
    background-color: #404BBF;
}
.team {
    background-color: #F4F4FD;
}
.team-text{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 2%;
    color: #2E2F42;
}
.employee-name{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
    color: #2E2F42;
    
}
.employee-profesion {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
}
.mark-guerrero {
    background-color: #ffffff;

}

.tom-ford {
    background-color: #ffffff;
}

.camila-garcia {
    background-color: #ffffff;
}

.daniel-wilson {
    background-color: #ffffff;
}
.portfolio-text {
    text-align: center;
}
.service-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
    color: #2E2F42;
}

.service-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
}
.footer{
    background-color: #2E2F42;
}
.logo-footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 3%;
    color: #F4F4FD;
    text-decoration: none;
    text-transform: uppercase;
}
.text-footer {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.logo-bottom {
    color: #4D5AE5;
}